#Action application/x-hg-php53 /cgi-sys/php53
#AddHandler application/x-hg-php53 .php

#Configuração

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)\/?$ cidade.php?ename=$1
RewriteRule ^(.*)/dia\/?$ index.php
RewriteRule ^mlogin$ index.php?page=mAuth
RewriteRule ^(.*)produto/(.*)\/?$ index.php?idoferta=$2
RewriteRule ^(.*)revista/(.*)\/?$ index.php?idartigo=$2
RewriteRule ^(.*)printoffer/(.*)\/?$ index.php?idprint=$2
RewriteRule ^(.*)revistacategoria/(.*)\/?$ index.php?idcategoria=$2
RewriteRule ^(.*)page/(.*)\/?$ index.php?page=pagina&pagina=1&idpagina=$2
RewriteRule ^(.*)websiteafiliado/(.*)\/?$ index.php?idoferta=$2&acao=websiteafiliado
RewriteRule ^(.*)convite/(.*)\/?$ convite.php?idusuariopai=$2
RewriteRule ^(.*)carrinho/(.*)\/?$ index.php?page=carrinho&id=$2 
RewriteRule ^(.*)cartpontos/(.*)\/?$ index.php?page=cartpontos&id=$2 
RewriteRule ^(.*)/ofertas/(.*)\/?$ index.php?idcidade=$2 
RewriteRule ^(.*)/estado/(.*)\/?$ index.php?uf=$2  
RewriteRule ^(.*)/Categoria/(.*)\/?$ index.php?page=recentes&idcategoria=$2 
RewriteRule ^(.*)/ofertas/recentes\/?$ index.php?page=recentes
RewriteRule ^cadastro$ index.php?acao=cadastro
RewriteRule ^conta$ index.php?page=meusdados
RewriteRule ^pedidos$ index.php?page=minhaconta
RewriteRule ^meusconvites$ index.php?page=meusconvites
RewriteRule ^logar$ app/design/padrao/logar.php
RewriteRule ^sair$ autenticacao/logout.php
RewriteRule ^sairanunciante$ autenticacao/logoutanunciante.php
RewriteRule ^cupons$ index.php?page=meuscupons
RewriteRule ^cadastrar$ index.php?page=autentica&acao=cadastro 
RewriteRule ^contato$ index.php?page=contato
RewriteRule ^revendas$ index.php?page=revendas
RewriteRule ^indique$ index.php?page=indique
RewriteRule ^parceiros$ index.php?page=parceiro
RewriteRule ^revendas$ index.php?page=revendas
RewriteRule ^enquete$ index.php?page=enquete
RewriteRule ^/$ index.php
    
#Força a utilizar Cache-Control e Expires header
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>
FileETag None
<IfModule mod_expires.c>
 ExpiresActive on
 ExpiresDefault "access plus 1 month"
 ExpiresByType text/cache-manifest "access plus 0 seconds"
 # Html
 ExpiresByType text/html "access plus 0 seconds"
 # Data
 ExpiresByType text/xml "access plus 0 seconds"
 ExpiresByType application/xml "access plus 0 seconds"
 ExpiresByType application/json "access plus 0 seconds"
 # Feed
 ExpiresByType application/rss+xml "access plus 1 hour"
 ExpiresByType application/atom+xml "access plus 1 hour"
 # Favicon
 ExpiresByType image/x-icon "access plus 1 week"
 # Media: images, video, audio
 ExpiresByType image/gif "access plus 1 month"
 ExpiresByType image/png "access plus 1 month"
 ExpiresByType image/jpg "access plus 1 month"
 ExpiresByType image/jpeg "access plus 1 month"
 ExpiresByType video/ogg "access plus 1 month"
 ExpiresByType audio/ogg "access plus 1 month"
 ExpiresByType video/mp4 "access plus 1 month"
 ExpiresByType video/webm "access plus 1 month"
 # HTC files
 ExpiresByType text/x-component "access plus 1 month"
 # Webfonts
 ExpiresByType application/x-font-ttf "access plus 1 month"
 ExpiresByType font/opentype "access plus 1 month"
 ExpiresByType application/x-font-woff "access plus 1 month"
 ExpiresByType image/svg+xml "access plus 1 month"
 ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
 # CSS / JS
 ExpiresByType text/css "access plus 1 year"
 ExpiresByType application/javascript "access plus 1 year"
 ExpiresByType application/x-javascript  "access plus 1 year"
</IfModule>
#Força o IE a sempre carregar utilizando a última versão disponível
<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
  <FilesMatch "\.(js|css|gif|png|jpeg|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|oex|xpi|safariextz|vcf)$" >
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>

<Files ^(*.jpeg|*.jpg|*.png|*.gif)> 
   order deny,allow 
   deny from all 
</Files>
