<html><head></head><body><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="pt-br" />
  <div class="logo"><img style="max-width: 320px;" src="[@baseurl]/include/logo/logo.png" alt="[@nomesite]"></div>
  <div class="subtitulo" style="text-align: center; font-family: arial; font-weight: bold; margin-top: 15px; border-bottom: 2px solid #FF9900; color:#FF9900"> PROPOSTA DE COMPRA</div>
	<div style="font-family: arial; font-size: 12px;">
	<b>
	<BR>Olá [@username],
	<BR>Você recebeu uma proposta de compra!
	</b>
	<br><br>
	<div><b>Características do Veículo:</b></div>
	<BR>Cód. Anuncio: [@teamid]
	<BR>Veículo: [@teamtitle]  
	<BR>Ano Modelo:  [@teamanomodelo]
	<BR>Preço: R$ [@teamprice]
	
	<br><br>
	<div><b>Dados do Interessado:</b></div>
	<BR>Nome: [@nomeproposta]
	<BR>Email: [@emailproposta]
	<BR>Telefone:  ([@dddproposta]) [@telefoneproposta]
	[@veiculotroca]
	<BR>Envio: [@dataenvio]
	<BR>Mensagem: [@mensagem]
	<BR>Anúncio: [@link]
	<br><br>
	<div style="border-bottom: 2px solid #FF9900;border-top: 2px solid #FF9900;padding:3px;"><b>Observações:</b>
	
	<div>Você está recebendo esta mensagem porque o seu anúncio está publicado no site
	[@nomesite] - [@baseurl]</div>
	<div> Para alterar o seu an&uacute;ncio <a href="[@baseurl]/adminanunciante">clique aqui</a> ou nos envie um email [@helpmail]</div>
	</div>
	<br>
	<div>Dica: Responda as propostas em até 24hrs, quanto mais rápido o atendimento, maior é chance do negócio ser realizado.</div>
	 
	<div>
		<BR>Atenciosamente,
		<BR><b>Equipe [@nomesite]</b>
	</div>
  </div>
	
</body>

</html>